
<section>
    <div class="container my-5">
        <div class="row justify-content-center align-items-center g-2">
            <div class="col-lg-6">
                <a class="btn btn-primary btn-sm mb-4" href="/">Back</a>
                <div class="card">
                    <div class="card-header">
                        <h2>Update product</h2>
                    </div>
                    <div class="card-body">
                        <form action="/single-update/<%= editProduct.id %>" method="post" enctype="multipart/form-data">
                            <div class="my-3">
                                <label class="form-label" for="">Product Name</label>
                                <input class="form-control" type="text" value="<%= editProduct.name %>" name="name">
                            </div>
                            <div class="my-3">
                                <label class="form-label" for="">Regular Price</label>
                                <input class="form-control" type="text" value="<%= editProduct.reglurPrice %>" name="reglurPrice">
                            </div>
                            <div class="my-3">
                                <label class="form-label" for="">Sell Price</label>
                                <input class="form-control" type="text" value="<%= editProduct.sellPrice %>" name="sellPrice">
                            </div>
                            <div class="my-3">
                                <label class="form-label" for="">Stock</label>
                                <input class="form-control" type="text" value="<%= editProduct.stock %>" name="stock"> 
                            </div>
                            <div class="my-5 text-center">
                                <img class="shadow" style="width: 200px;" src="/products/<%= editProduct.productPhoto %>" alt="">
                            </div>
                            <div class="my-3">
                                <input class="form-control" type="file" name="productPhoto">
                            </div>
                            <div class="my-3 text-center">
                                <button type="submit" class="btn btn-outline-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


